In [1]:
from ImageAnalysis import cellImageAnalysis as ca

In [2]:
exp = ca.Experiment(path="data/2022.05.30.", cell_channel=0, signal_channel=1)

In [3]:
exp.get_images()

3 db képet találtunk, ezek:  ['JNK2A1_barr2_1.tif', 'JNK1B2_1.tif', 'JNK1B1_barr2_1.tif']

In [4]:
exp.analyse()

data/2022.05.30./JNK2A1_barr2_1.tif loaded
data/2022.05.30./JNK2A1_barr2_1.tif processed
data/2022.05.30./JNK1B2_1.tif loaded
data/2022.05.30./JNK1B2_1.tif processed
data/2022.05.30./JNK1B1_barr2_1.tif loaded
data/2022.05.30./JNK1B1_barr2_1.tif processed
Process ended! You can get the results with '.result'.

In [5]:
exp.result

      JNK2A1_barr2_1.tif  JNK1B2_1.tif  JNK1B1_barr2_1.tif
mask
0              90.796285     26.737379          101.821528
1             252.935770     24.579618          852.616554
2             625.076512     23.016962          223.231821
3             808.800819     24.396406           57.872613
4             712.949208     21.647719          674.022060
5             870.638114     19.718811          248.065002
6             860.168066     18.473707          266.057508
7             470.255020     67.095297         1042.199651
8             849.425608     73.163234          222.284656
9             102.201225     32.741407          272.715193
10             60.643626    530.622566         1843.245822
11            142.793352     26.972832         2416.806930
12            844.739555     71.476290          450.004669
13            779.082208     24.939394          734.834795
14           1599.191472     22.008139          722.060556
15            309.515005     36.455594          202.456623
16           1716.904422     16.195589          602.592800
17            747.814206     72.754637          125.064725
18            597.937792     68.026101          169.488336
19            539.498364     26.600727         1038.687176
20           1708.064975           NaN          396.991151
21           2161.942041           NaN          384.600000
22            449.462039           NaN           27.648035
23            112.348959           NaN          178.271202
24           1453.554103           NaN          313.993109
25             10.800000           NaN           57.059658
26            476.796854           NaN          284.497551
27            676.327325           NaN          111.743329
28           1691.533705           NaN         1169.154210
29            694.825051           NaN          854.693069
30            847.891719           NaN          869.531250
31           1441.055129           NaN          801.083333
32           1073.148695           NaN          150.299019
33            725.374561           NaN         1057.090617
34           2737.904545           NaN          985.408990
35           1116.991617           NaN          545.862395
36            655.465088           NaN          440.842146
37           2358.854374           NaN          823.347513
38           1476.250514           NaN          781.106163
39            865.865693           NaN          175.339680
40            875.074264           NaN          113.050704
41           1512.955643           NaN          627.041443
42            931.120720           NaN          927.083486
43            743.186740           NaN          702.768830
44           1080.663463           NaN          340.130157
45            765.693602           NaN          498.160253
46            372.513222           NaN          222.045352
47           1068.733893           NaN          360.629255
48            330.313573           NaN          291.745215
49            329.955435           NaN          165.889129
50            333.521937           NaN          305.985604
51           1052.613982           NaN          690.771490
52           2549.489108           NaN          132.500970
53            752.375314           NaN           81.932438

In [9]:
exp.result = exp.result.melt(var_name="image", value_name="fluo").dropna()

In [10]:
exp.result

                  image        fluo
0    JNK2A1_barr2_1.tif   90.796285
1    JNK2A1_barr2_1.tif  252.935770
2    JNK2A1_barr2_1.tif  625.076512
3    JNK2A1_barr2_1.tif  808.800819
4    JNK2A1_barr2_1.tif  712.949208
..                  ...         ...
157  JNK1B1_barr2_1.tif  165.889129
158  JNK1B1_barr2_1.tif  305.985604
159  JNK1B1_barr2_1.tif  690.771490
160  JNK1B1_barr2_1.tif  132.500970
161  JNK1B1_barr2_1.tif   81.932438

[128 rows x 2 columns]

In [ ]:
def func():
    pass

In [12]:
exp.result.image = exp.result.image.apply(lambda x: x.split(".")[0])

In [13]:
exp.result

              image        fluo
0    JNK2A1_barr2_1   90.796285
1    JNK2A1_barr2_1  252.935770
2    JNK2A1_barr2_1  625.076512
3    JNK2A1_barr2_1  808.800819
4    JNK2A1_barr2_1  712.949208
..              ...         ...
157  JNK1B1_barr2_1  165.889129
158  JNK1B1_barr2_1  305.985604
159  JNK1B1_barr2_1  690.771490
160  JNK1B1_barr2_1  132.500970
161  JNK1B1_barr2_1   81.932438

[128 rows x 2 columns]